body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 300%;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.width {
  width: 50%;
  padding-left: 2px;
}
.width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: aquamarine;
  font-weight: 400px;
  border-radius: 5px;
  padding: 10px 20px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
